In [1]:
import pandas as pd

In [4]:
def gen_date(dep = "2000-01-01", fin = "2030-12-31"):
    df = pd.DataFrame({"Date": pd.date_range(dep, fin)})
    return df

In [5]:
todate = gen_date()

In [6]:
todate.head()

        Date
0 2000-01-01
1 2000-01-02
2 2000-01-03
3 2000-01-04
4 2000-01-05

In [7]:
todate.to_csv("datasets/todate.csv")