In [1]:
import pandas as pd

In [12]:
def gen_date(dep = "2000-01-01", fin = "2030-12-31"):
    df = pd.DataFrame({"Date": pd.date_range(dep, fin)})
    df["Day"] = df.Date.dt.day
    df["Month"] = df.Date.dt.month
    df["Week"] = df.Date.dt.weekofyear
    df["Quarter"] = df.Date.dt.quarter
    df["Year"] = df.Date.dt.year
    df["semester"] = (df.Quarter + 1) // 2



    return df

In [13]:
todate = gen_date()

In [14]:
todate.head()

        Date  Day  Month  Week  Quarter  Year  semester
0 2000-01-01    1      1    52        1  2000         1
1 2000-01-02    2      1    52        1  2000         1
2 2000-01-03    3      1     1        1  2000         1
3 2000-01-04    4      1     1        1  2000         1
4 2000-01-05    5      1     1        1  2000         1

In [15]:
todate.to_csv("datasets/todate.csv")